{{> partials/head.html}}
<div class="outerWrapper">
    <div id="wrapper">
        {{> partials/header.mustache}}
        <div class="mt-2 mb-2 px-3">
            <div class="row">
                <div class="col-12 main">
                    <h1>Anwendung für die Menschen, die sich selbst fit halten müssen/wollen!</h1>
                    {{> partials/form.html}}
                    {{> partials/result-kallorii.html}}
                    {{> partials/table-menu.html}}
                    {{> partials/list-of-products.html}}
                </div>
            </div>

        </div>
        {{> partials/popup.mustache}}
        {{> partials/footer.html}}
    </div>
</div>
<div class="wrapperFooter">
    <footer class="pageFooter">
        <div class="unfancyFooter">
            <section class="footerLegally">
                <ul class="list list--footer-legally">
                    <li><a href="/impressum-59678.html">Impressum</a></li>
                    <li><a href="/nutzungsbedingungen-59700.html">Nutzungsbedingungen</a></li>
                    <li><a href="/cookies">Cookies</a></li>
                    <li><a href="/datenschutzerklaerung-59701.html">Datenschutz</a></li>
                    <li><a href="https://www.lecker.de/themen">Sitemap</a></li>
                    <li><a href="https://www.stroeer.de/digitale-werbung/werbemedien/targeting-data/datenschutz.html">Nutzungsbasierte Online-Werbung</a></li>
                </ul>
            </section>
        </div>
    </footer>
</div>
</body>
</html>


