<article class="article menu-container" style="display: none;">
    <div class="row mb-2">
        <div class="col-12">
            <h2 class="headline headline--dotted"><span>Ihres Speiseplan</span></h2>
            <div class="result-text display "></div>
            <div class="result-text print "></div>
        </div>
        <div class="col-12 mb-2">
            <div class="row print-result">
                <div class="col-12 text-right w-100">
                    <button class="btn btn-success" id="list-generation">Einkaufsliste generieren</button>
                    <button class="btn btn-primary" id="menu-print">Das Speiseplan ausdrucken</button>
                    <button class="btn btn-primary" id="menu-save">Das Speiseplan für später speichern</button>
                </div>
            </div>
        </div>
        </div>
</article>
