<article class="article">
    <form class="form w-100 p-0" novalidate id="form">
        <div class="row form-group">
            <div class="col-12 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <label for="vorname">Vorname</label>
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control" id="vorname" name="vorname" placeholder="Vorname">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <label for="nachname">Nachname</label>
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control" id="nachname" name="nachname" placeholder="Nachname">
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-12 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <label for="gewicht">Gewicht</label>
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control" id="gewicht" name="gewicht" placeholder="Gewicht">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <label for="grosse">Größe</label>
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control" id="grosse" name="grosse" placeholder="Größe">
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-12 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <label for="alter">Alter</label>
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control" id="alter" name="alter" placeholder="Alter">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <label for="geschlecht">Geschlecht</label>
                    </div>
                    <div class="col-12">
                        <select class="form-control" id="geschlecht" name="geschlecht">
                            <option value="weiblich" selected>Weiblich</option>
                            <option value="maennlich">Männlich</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-12 col-sm-6">
                <div class="row">
                    <label class="col-12">Aktivität</label>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="radiobutton" type="radio" name="aktivitaet" id="mangel" value="1" checked="checked"> <label class="form-check-label" for="mangel"> Bewegungsmangel </label>
                        </div>
                        <div class="form-check">
                            <input class="radiobutton" type="radio" name="aktivitaet" id="massige" value="2"> <label class="form-check-label" for="massige"> Mäßige Aktivität </label>
                        </div>
                        <div class="form-check disabled">
                            <input class="radiobutton" type="radio" name="aktivitaet" id="mittlere" value="3"> <label class="form-check-label" for="mittlere"> Mittlere Aktivität </label>
                        </div>
                        <div class="form-check disabled">
                            <input class="radiobutton" type="radio" name="aktivitaet" id="sehrAktive" value="4"> <label class="form-check-label" for="sehrAktive"> sehr aktive </label>
                        </div>
                        <div class="form-check disabled">
                            <input class="radiobutton" type="radio" name="aktivitaet" id="sportler" value="5"> <label class="form-check-label" for="sportler"> Sportler </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="row">
                    <label class="col-12">Gewünschtes Ergebnis</label>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="radiobutton" type="radio" name="ergebnis" id="zunehmen" value="1"> <label class="form-check-label" for="zunehmen"> zunehmen </label>
                        </div>
                        <div class="form-check">
                            <input class="radiobutton" type="radio" name="ergebnis" id="abnehmen" value="2"> <label class="form-check-label" for="abnehmen"> abnehmen </label>
                        </div>
                        <div class="form-check disabled">
                            <input class="radiobutton" type="radio" name="ergebnis" id="bleiben" value="3"> <label class="form-check-label" for="bleiben">Gewicht lassen</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 form-group">
                        <h3>Filters</h3>
                    </div>
                    <div class="col-12 filters-wrapper type">
                        <div class="row">
                            <div class="col-12 form-group">
                                Welche Art vom Essen möchten Sie gern?
                            </div>
                            <div class="col-12">
                                <div class="row" id="type-results">
                                    <div class="form-check col-auto">
                                        <input class="checkbox" type="checkbox" name="normal" id="normal" value="1"> <label class="form-check-label" for="normal">Normal</label>
                                    </div>
                                    <div class="form-check col-auto">
                                        <input class="checkbox" type="checkbox" name="vegitarien" id="vegitarien" value="2"> <label class="form-check-label" for="vegitarien">Vegitarien</label>
                                    </div>
                                    <div class="form-check col-auto">
                                        <input class="checkbox" type="checkbox" name="vegan" id="vegan" value="3"> <label class="form-check-label" for="vegan">Vegan</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 filters-wrapper mt-3">
                        <div class="row">
                            <div class="col-12 form-group">
                                Haben Sie eine Essallergie?
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-auto">
                                        <input class="radiobutton" type="radio" name="allergie" id="allergie-ja" value="1"> <label class="form-check-label" for="allergie-ja">Ja</label>
                                    </div>
                                    <div class="col-auto">
                                        <input class="radiobutton" type="radio" name="allergie" id="allergie-nein" value="1"> <label class="form-check-label" for="allergie-nein">Nein</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 filters-wrapper allergie mt-3 d-none">
                        <div class="row">
                            <div class="col-12 form-group">
                                Welche Allergie haben Sie?
                            </div>
                            <div class="col-12">
                                <div class="row" id="allergie-results">
                                    <div class="form-check col-auto">
                                        <input class="checkbox" type="checkbox" name="gluten" id="gluten" value="1"> <label class="form-check-label" for="gluten">Gluten</label>
                                    </div>
                                    <div class="form-check col-auto">
                                        <input class="checkbox" type="checkbox" name="laktose" id="laktose" value="2"> <label class="form-check-label" for="laktose">Laktose</label>
                                    </div>
                                    <div class="form-check col-auto">
                                        <input class="checkbox" type="checkbox" name="nuesse" id="nuesse" value="3"> <label class="form-check-label" for="laktose">Nüsse</label>
                                    </div>
                                    <div class="form-check col-auto">
                                        <input class="checkbox" type="checkbox" name="pilze" id="pilze" value="4"> <label class="form-check-label" for="pilze">Pilze</label>
                                    </div>
                                    <div class="form-check col-auto">
                                        <input class="checkbox" type="checkbox" name="zitrus" id="zitrus" value="5"> <label class="form-check-label" for="zitrus">Zitrusfrüchte</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-6">
                <button class="btn btn-danger" type="reset">Reset</button>
            </div>
            <div class="col-6 text-right">
                <button class="btn btn-success" type="submit">Kalorien berechnen</button>
            </div>
        </div>
    </form>
</article>
