<div class="list-of-products shadow mt-4" style="display: none;">
    <div class="row mb-2">
        <div class="col-12">
            <div class="alert m-0">
                <h2 class="headline headline--dotted"><span>Ihre Einkaufsliste</span></h2>
                <button class="btn btn-primary mb-3" id="show-menu" style="display: none;">Das Speiseplan einzeigen</button>
                <div class="result-text"></div>
            </div>
        </div>
        <div class="col-12 mb-2">
            <div class="print-result row">
                <div class="col-12 text-right">
                    <button class="btn btn-primary" id="liste-print">Die Einkaufsliste ausdrucken</button>
                </div>
            </div>
        </div>
    </div>
</div>
