.print {
    display: none;
}

#wrapper {
    max-width: 970px !important;
    background-color: #fff;
}

header .header-logo-icon img {
    padding-top: 25px;
    padding-bottom: 30px;
}

.article .article-form {
    min-width: 100% !important;
}

.col-firstname {
    padding-right: 2%;
}

.min-height-checkboxes {
    min-height: 140px !important;
}

.form--modal p {
    margin: 0 0 0.5rem 0;
}

/*.teaser--image-ho .title>*, h1, h2, h3, h4, h5, h6{*/
/*    padding-top: 0.5rem;*/
/*}*/

h4 {
    margin: 1rem 0;
}

.col-ergebnis {
    width: 33%;
    float: left
}

.lightbox {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    opacity: 0.8;
    z-index: 99;
}

.preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    opacity: 0.95;
    z-index: 99;
}

.preloader i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-headline {
    background-color: #fff3cd;
}

.menu-item {
    position: relative;
}

.popover {
    max-width: 100% !important;
    max-height: 100%;
    overflow-y: auto;
}

.list--preparation {
    margin-top: 1rem;
}

.list--preparation dt {
    float: left;
}

.list--preparation dd {
    margin-left: 1.25rem;
}

.popover-headline {
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center !important;
}

.custom-control {
    position: relative;
    width: 50%;
    float: left;
}

.custom-control-input {
    position: absolute;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
    border-radius: .25rem;
    opacity: 1;
}


.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.25rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.fade:not(.show) {
    opacity: 0;
}

.popover {
    height: 0;
    z-index: 0;
    display: block;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    -webkit-border-radius: .3rem;
    border-radius: .3rem;
}

.fade {
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.list-of-products .result-text {
    margin-left: 1rem;
}


.popover-print {
    clear: both;
}

.popover-print .popover-header,
.popover-print img {
    display: none;
}

.popover-print .list.list--preparation dt {
    margin-right: 1rem;
}

.popover-print .list.list--preparation {
    float: none !important;
    display: inline-block;
    max-width: 45%;
}

.result-text.print .img-fluid {
    max-width: 40%;
    float: left;
    margin-right: 1rem;
}

.popover-print .ingredients {
    float: left;
    margin-right: 1rem;
    margin-top: 1rem;
    display: inline-block;
    max-width: 25%;
}

.popover-body > p.popover-headline {
    padding-top: 1rem;
}

.popover-body .img-fluid {
    max-width: 590px;
}

.result-text.print table td {
    padding: 0.5rem 0;
}

.remodal-wrapper .remodal {
    overflow-y: auto;
    max-width: 34vw;
    max-height: 75vh;
}

.gericht .img-fluid {
    margin-bottom: .5rem;
    height: auto;
    width: 240px;
}

.gericht {
    min-height: 273px;
    padding: 1rem 0.35rem 0.35rem 0.35rem;
    position: relative;
}

.gericht.disabled .overlay {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    margin: 1rem .35rem .35rem .35rem;
    opacity: 0.7;
}

.gericht .overlay {
    display: none;
}

.gericht .headline {
    text-align: center;
    font-size: 1.1rem;
    margin: 0.5rem auto;
    padding: 0;
}

.gericht:not(.disabled):hover {
    cursor: pointer;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
}

.gericht:not(.disabled):hover .reload-gericht,
.gericht:not(.disabled):hover .wunschlist-icon-wrapper{
    display: block;
}

.gericht .info-wrapper {
    z-index: 100;
}

.gericht .popover {
    z-index: 50;
}

.gericht.active .wunschlist-icon-wrapper{
    background-color: #66cdd3;
    color: white;
}

tr.pagebreak,
tr.pagebreak td{
    border: none!important;
}

#wrapper .checkbox + label:before {
    top: -3px;
}

.menu-container p {
    line-height: 1;
    margin: 0 0 0.5rem 0;
}

.reload-gericht {
    display: none;
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5rem;
}

.wunschlist-icon-wrapper {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5rem;
}

.gericht:not(.active) .wunschlist-icon-wrapper{
    display: none;
}
.reload-gericht:hover,
.wunschlist-icon-wrapper:hover{
    transform: scale(1.2);
    transition: all .1s ease-in;
}
